.article-body {
  border-bottom-width:0px;
}
h2.article-title {
  height: 60px;
  border-left: 5px solid #868484;
  padding: 10px;
  line-height: 25px;
}
.tags ul.tags-list li {
  background: #ba8f6c;
  margin: 0px;
  position: relative;
  color: #fff;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  padding: 0 0px 0px 10px;
  margin-top: 20px;
  margin-left: 20px;
}
